*{
   font-size: 25px;
   color: #fff;
}

body{
   background-color: #111;
   overflow: auto;
   padding: 0;
   margin: 0
}

#warningScreen{
   position: fixed;
   display: grid;
   place-items: center;
   height: 100vh;
   width: 100vw;
   top: 100vh;
   background-color: #000000c0;
   z-index: 1;
}

#warningScreen.show{
   top: 0
}

#warningScreen div{
   display: grid;
   background-color: #000;
   color: #fff;
   border-radius: 20px;
   padding: 20px;
   max-width: 500px
}

#warningScreen p{
   margin: 0;
   padding: 0;
   text-align: center
}

#warningScreen p:nth-child(1){
   font-size: 40px
}

#warningScreen p:nth-child(2){
   margin-top: 25px
}

#continueButton{
   place-items: center;
   margin-top: 25px;
   border-radius: 10px
}

#header{
   text-align: center;
   place-items: center;
   font-family: Arial, Helvetica, sans-serif;
   color: #fff;
   background-color: #000;
   border-radius: 0 0 15px 15px;
}

h1{
   display: grid;
   padding: 0;
   margin: 0;
   height: 102vh;
   place-content: center;
   animation: 3s openingAnimation ease-in-out 1s forwards;
   user-select: none;
}

@keyframes openingAnimation{
   0%{
      text: "Welcome to Jordan's webpage";
      opacity: 0;
      font-size: 0
   }

   50%{
      opacity: 1;
      font-size: 6vw
   }

   60%{
      font-size: 6vw;
      height: 102vh;
      margin-bottom: 1000px;
   }

   100%{
      height: 8vh;
      margin-bottom: 0;
   }
}

.outerContainer{
   position: fixed;
   width: 100vw;
   height: 100vh;
   display: grid;
   place-items: center;
   left: 0;
   transition: all .5s ease-in-out
}

.outerContainer.starting{
   left: 100vw
}

.outerContainer.exit{
   left: -100vw
}

.section{
   width: 80vw;
   height: 60vh;
   margin-top: -100px;
   padding: 10px;
   border: 2px solid #00cc00;
   overflow: auto;
   transition: .5s all ease-in-out
}

p{
   margin: 0
}

.sectionHeader{
   font-size: 50px;
   margin-bottom: 20px;
   text-align: center;
}

.backgroundImgSection{
   position: fixed;
   filter: blur(20px);
   height: 100vh;
   width: 100vw;
   left: 0;
   object-fit: cover;
   opacity: .75;
   z-index: -1;
   transition: .3s all ease-in-out
}

.backgroundImgSection.hidden{
   opacity: 0;
}

.backgroundImgSection2{
   position: fixed;
   height: 100vh;
   width: 100vw;
   left: 0;
   object-fit: cover;
   opacity: .5;
   z-index: -1;
   transition: .3s all ease-in-out
}

.backgroundImgSection2.hidden{
   opacity: 0;
}

.outerContainer .section{
   backdrop-filter: blur(5px);
   background-color: #00000020;
}

#imgSection3{
   display: none;
   grid-column-start: 1;
   grid-column-end: 2;
   width: 30vw;
}

#imgSection4{
   display: none;
   width: 30vw;
   margin-top: -10vh;
   grid-column-start: 1;
   grid-column-end: 2;
}

#imgSection3.show{
   display: block;
   animation: imageShowAnimation .5s ease-in-out forwards
}

#imgSection4.show{
   display: block;
   animation: imageShowAnimation .5s ease-in-out forwards
}

@keyframes imageShowAnimation {
   0%{
      opacity: 0;
   }
   100%{
      opacity: 1;
   }
}

@keyframes imageShowAnimationReverse {
   0%{
      opacity: 1;
   }
   100%{
      opacity: 0;
   }
}

.outerContainer.shrink .section{
   grid-column-start: 2;
   grid-column-end: 3;
   background-color: #00000090;
   width: 30vw;
}

.outerContainer.shrink2 .section{
   margin-right: 56vw;
   width: 30vw
}

.directionalButton{
   position: fixed;
   display: grid;
   border-radius: 100%;
   font-size: 20x;
   font-weight: 700;
   align-items: center;
   text-align: center;
   height: 30px;
   width: 30px;
   padding: 5px;
   background-color: #777;
   border: 2px solid #777;
   color: #fff;
   top: 50vh;
   user-select: none;
   cursor: pointer;
   transition: .125s all ease-in-out
}

.directionalButton.hidden{
   opacity: 0;
   cursor: default
}

#nextButton{
   right: 2%;
}

.directionalButton.show:hover{
   opacity: .8;
}

.directionalButton.show:active{
   opacity: .7;
}

#previousButton{
   left: 2%
}

.schoolAnswer.hidden{
   opacity: 0;
}